 
* {
  box-sizing: border-box;
}

body {
  background-color: #313BC3;
  color: #fafafa;
  min-height: 100vh;
  margin: 0;
  /*font-family: 'Montserrat Alternates', sans-serif;*/
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  text-align: center;
  font-size: 2vmax;
}

.intro-page {
/* CSS HERE */
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.hero-ghosts {
  width: 48vmax;
}

.hero-player {
  width: 7vmax;
}


.soundtrack-button {
  width: 4vmax;
  position: absolute;
  right: 0%;
  bottom: 0%;
  margin: 1vmax 1vmax;
  cursor: pointer;
}

h1 {
  cursor: pointer;
  color: #f9ce20;
  font-size: 3.7rem;
  margin-bottom: 5vmax;
}

h3 {
  cursor: pointer;
  color: #fafafa;
  font-size: 1.5rem;

}

h4 {
  cursor: pointer;
  color: #313BC3;
  font-size: 1.5rem;

}

h3:hover {
  text-decoration: underline;

  /* when hover on start game, make players shake*/

}

.grid-wrapper {
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9ce20;
}

.ui-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  max-width: 960px;
}

.grid {
  align-items: center;
  box-shadow: 0px 0px 10px 0 #fafafa73;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 50vmax;
  width: 50vmax;
  max-width: 960px;
  max-height: 960px;
  background-color: #cecece;
}

.grid div {
  border: 1px solid rgba(255, 255, 255, 0.212);
  flex-grow: 1;
  height: 5%;
  width: 5%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 5px 5px 5px;
}

.grid div.maze-wall {
  background-color: rgb(136, 66, 19);
  background-color: #313bc3e0;
  border-radius: 3px;
  border: 7px rgba(0, 0, 0, 0.205) double;
}

.grid div.ghost-home {
  background-color: #9020f980;
  /*border: 4px rgba(206, 50, 180, 0.479) solid;*/
  border-radius:5px ;
}

.grid div.portal {
  background-color: #a5a5a57c;
  /*border: 4px rgba(206, 50, 180, 0.479) solid;*/
  border-radius:5px ;
}

.grid div.pellet {
  background-image: url('../assets/images/coin-4.gif');
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: center;
  cursor: pointer;
}

.grid div.super-pellet {
  background-image: url('../assets/images/orange-gem.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 125%;
  background-position: center;
  cursor: pointer;
}

.grid div.pellet-eaten {
  background-color: rgba(0, 128, 0, 0);
}

.grid div.super-pellet-eaten {
  background-color: rgba(0, 128, 0, 0);
}

.grid div.char {
  background-image: url('../assets/images/woman.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 110%;
  cursor: pointer;
  background-color: green;
}

.grid div.noa {
  background-image: url('../assets/images/woman.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 110%;
  cursor: pointer;
}

.grid div.jos {
  background-image: url('../assets/images/man.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 110%;
  cursor: pointer;
}

.grid div.guy {
  background-image: url('../assets/images/man.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 110%;
  cursor: pointer;
}

.grid div.scared {
  background-image: url('../assets/images/scared-3.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 110%;
  cursor: pointer;
}

.grid div.laughing {
  background-image: url('../assets/images/crying-emoji.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 110%;
  cursor: pointer;
}

.grid div.player {
  background-image: url('../assets/images/curious-emoji.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 105%;
  cursor: pointer;
}
.grid div.celebration {
  background-image: url('../assets/images/celebration-emoji.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 150%;
  cursor: pointer;
}

audio.soundtrack {
  margin-top: 1vmax;
  /*border-radius: 50px;
  border: 2px solid #f9ce20;*/
}
