
* {
  box-sizing: border-box;
}

body {
  background-color: #f9ce20;
  min-height: 100vh;
  margin: 0;
  /*font-family: 'Montserrat Alternates', sans-serif;*/
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
}


.grid-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.grid {
  align-items: center;
  box-shadow: 0px 0px 10px 0 rgba(136, 66, 19, 0.788);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 60vmax;
  width: 60vmax;
  background-color: #cecece;
}

.grid div {
  border: 1px solid rgba(255, 255, 255, 0.212);
  flex-grow: 1;
  height: 5%;
  width: 5%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 5px 5px 5px;
}

.grid div.maze-wall {
  background-color: rgb(136, 66, 19);
  border-radius: 3px;
  border: 7px rgba(0, 0, 0, 0.205) double;
}

.grid div.ghost-home {
  background-color: rgba(16, 140, 211, 0.26);
  /*border: 4px rgba(206, 50, 180, 0.479) solid;*/
  border-radius:5px ;
}

.grid div.pellet {
  background-image: url('../assets/images/coin-4.gif');
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: center;
  cursor: pointer;
}

.grid div.super-pellet {
  background-image: url('../assets/images/bit-coin.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 120%;
  background-position: center;
  cursor: pointer;
}

.grid div.pellet-eaten {
  background-color: rgba(0, 128, 0, 0);
}

.grid div.super-pellet-eaten {
  background-color: rgba(0, 128, 0, 0);
}

.grid div.char {
  background-image: url('../assets/images/woman.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 110%;
  cursor: pointer;
}

.grid div.noa {
  background-image: url('../assets/images/woman.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 110%;
  cursor: pointer;
}

.grid div.jos {
  background-image: url('../assets/images/man.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 110%;
  cursor: pointer;
}

.grid div.guy {
  background-image: url('../assets/images/man.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 110%;
  cursor: pointer;
}

.grid div.scared {
  background-image: url('../assets/images/scared-3.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 110%;
  cursor: pointer;
}

.grid div.player {
  background-image: url('../assets/images/curious-emoji.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 105%;
  cursor: pointer;
}
.grid div.player-hunt {
  background-image: url('../assets/images/crying-emoji.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 105%;
  cursor: pointer;
}